*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #fff;
}
.logo{
	list-style-type: none;
}
nav{
	flex: 1;
    text-align: right;
}
nav ul{
	display: inline block;
    list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #555;
}
#kanker{
	border: solid 1px #000000;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding left: 25px;
	padding right: 25px;
}
body{
	background-color: #FCFCFC;
}
#kaas{
	display: none;
	text-align: center;
	margin: auto:
}
h3{
	cursor: pointer;
	margin: 0;

}
#ham{
	border: solid 1px #000000;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	color: #000;
}
#worst{
	display: none;
	text-align: center;
	margin: auto:
}
h3{
	cursor: pointer;
	margin: 0;
}
#contact{
	text-align: center;
	color: #000;
	padding: 5px;
	background-color: #A7A7A7;
	border: solid 2px #000000;
}
#worst p{
	margin-bottom: 35px;
}